.box {
  background-color: #333842;
  max-width       : 60%;
  padding-left    : 1rem;
  padding-right   : 1rem;
  padding-top     : 1rem;
  margin-right    : 1rem;
  border-radius   : 4px;
}

.box ul {
  margin-bottom: 0rem !important;
  margin-left  : 0rem !important;
}

.no-has-paraph {
  padding-bottom: 1rem !important;
}

.list-super-index {
  margin-bottom: -0.5rem !important;
}

.end {
  margin-bottom: 1rem;
}

.img-content-div {
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width:1900px) {
  .box {
    max-width: 80%;
  }
}

@media (max-width:1500px) {
  .box {
    max-width: 100%;
  }
}