/* GENERAL STYLES  */

.box {
  background-color: #282c34;
  max-width       : 60%;
  padding-left    : 1rem;
  padding-right   : 1rem;
  padding-top     : 1rem;
  margin-right    : 1rem;
  border-radius   : 4px;
}

.box ul {
  margin-bottom: 0rem !important;
  margin-left  : 0rem !important;
}

.no-has-paraph {
  padding-bottom: 1rem !important;
}

.list-super-index {
  margin-bottom: -0.5rem !important;
}

.end {
  margin-bottom: 1rem;
}

.img-content-div {
  text-align   : center;
  margin-bottom: 1rem;
}

/* USER CRUD STYLES  */

.img-content-phoneview-div {
  flex         : 4;
  min-width    : 25%;
  margin-bottom: 1rem;
}

.img-content-flex-div {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

/* ROM SCRAPER STYLES  */

.rom-economy-left {
  display        : flex;
  flex           : 2;
  margin-bottom  : 1rem;
  align-items    : center;
  justify-content: center;
}

.rom-center {
  display        : flex;
  flex           : 2;
  margin-bottom  : 1rem;
  align-items    : center;
  justify-content: center;
}

.rom-economy-right {
  flex           : 1;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  flex-direction : column;
}

.rom-economy-img-wrapper {
  display        : flex;
  flex           : 1;
  margin-bottom  : 1rem;
  align-items    : center;
  justify-content: center;
  max-width      : 80%;
}

.rom-img-wrapper {
  display        : flex;
  flex           : 1;
  margin-bottom  : 1rem;
  align-items    : center;
  justify-content: center;
  max-width      : 50%;
}

/* COMPANY CARDS  */

.companies {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.company-card {
  flex            : 4;
  min-width       : 20rem;
  max-width       : 20rem;
  height          : 24rem;
  border-radius   : 8px;
  background-color: #333842;
  margin-bottom   : 1rem;
  display         : flex;
  flex-direction  : column;
  margin          : 1rem;
  position        : relative;
}

.company-card-title {
  flex      : 1;
  padding   : 1rem !important;
  text-align: center;
}

.company-card-img {
  flex         : 1;
  height       : 8rem;
  padding      : 1rem;
  align-self   : center;
  justify-self : center;
  border-radius: 20% !important;
}

.company-card-content {
  display       : flex;
  flex-direction: column;
  flex          : 4;
  padding       : 1rem;
  text-align    : center;
}

.company-card-content-text {
  flex: 4;
}

.company-card-content-url {
  bottom       : 0;
  flex         : 1;
  color        : #54a5fd;
  font-size    : 1rem;
  margin-bottom: 1rem;
  text-align   : center;
  align-self   : center;
  position     : absolute;
}

/* REST ALARM STYLES*/

.rest-alarm-center {
  display        : flex;
  flex           : 1;
  margin-bottom  : 1rem;
  align-items    : center;
  justify-content: center;
}

/* MINESWEEPER STYLES*/

.minesweeper-container {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.minesweeper-span-1 {
  flex         : 2;
  min-width    : 30%;
  max-width    : 30%;
  margin-bottom: 1rem;
}

.minesweeper-span-2 {
  flex         : 2;
  min-width    : 70%;
  max-width    : 70%;
  margin-bottom: 1rem;
}

.minesweeper-sub-container {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.minesweeper-sub-div {
  flex         : 3;
  min-width    : 20%;
  margin-bottom: 1rem;
}

/* HD SCREEN  */

@media(min-width:1901px) {
  .rom-economy-wrapper {
    display       : flex;
    flex-direction: row;
    padding-left  : 10rem;
    padding-right : 10rem;
  }
}

/* NO HD SCREEN  */

@media(min-width:1201px) {
  .rom-economy-wrapper {
    display       : flex;
    flex-direction: row;
    padding-left  : 5rem;
    padding-right : 5rem;
  }
}

@media (max-width:1900px) {

  /* general */
  .box {
    max-width: 80%;
  }

  /* user crud*/
  .img-content-phoneview-div {
    flex         : 4;
    min-width    : 25%;
    margin-bottom: 1rem;
  }

  /* company cards */
  .companies {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
  }

  /* minesweeper */
  .minesweeper-sub-container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
  }
  .minesweeper-span-1 {
    flex         : 2;
    min-width    : 40%;
    max-width    : 40%;
    margin-bottom: 1rem;
  }

  .minesweeper-span-2 {
    flex         : 2;
    min-width    : 60%;
    max-width    : 60%;
    margin-bottom: 1rem;
  }

  .minesweeper-sub-div {
    flex         : 3;
    min-width    : 50%;
    max-width    : 50%;
    margin-bottom: 1rem;
  }
}

/* SMALL SCREEN  */

@media (max-width:1200px) {

  .company-card {
    min-width       : 19.21rem;
  }

  /* general */
  .box {
    max-width: 100%;
  }

  /* user crud*/
  .img-content-phoneview-div {
    flex         : 2;
    min-width    : 50%;
    margin-bottom: 1rem;
  }

  /* rom scraper */
  .rom-economy-right {
    flex          : 2;
    margin-bottom : 1rem;
    flex-direction: column;
    align-items   : center;
  }

  .rom-economy-img-wrapper {
    max-width: 80%;
  }

  .rom-center {
    display: flex;
    margin-bottom : 1rem;
    flex-direction: column;
    align-items   : center;

  }

  .rom-img-wrapper {
    max-width: 80%;
  }

  /* rest alarm */
  .rest-alarm-center {
    display: flex;
    margin-bottom : 1rem;
    flex-direction: column;
    align-items   : center;

  }

  /* minesweeper */
  .minesweeper-sub-container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  .minesweeper-span-1 {
    flex         : 2;
    min-width    : 50%;
    max-width    : 50%;
    margin-bottom: 1rem;
  }

  .minesweeper-span-2 {
    flex         : 2;
    min-width    : 50%;
    max-width    : 50%;
    margin-bottom: 1rem;
  }

  .minesweeper-sub-div {
    flex         : 1;
    min-width    : 100%;
    margin-bottom: 1rem;
  }
}

/* PHONE SCREEN  */

@media (max-width:500px) {
  .minesweeper-span-1 {
    flex         : 1;
    min-width    : 100%;
    max-width    : 100%;
    margin-bottom: 1rem;
  }

  .minesweeper-span-2 {
    flex         : 1;
    min-width    : 100%;
    max-width    : 100%;
    margin-bottom: 1rem;
  }

  .minesweeper-sub-div {
    flex         : 1;
    min-width    : 100%;
    margin-bottom: 1rem;
  }
}